/* Grid is one of the most powerfull layout system in css, it allow yout to places the elements in both the direction meaning  it is 2d layout model  */

/* display grid and flex can be  */

.parent{
    display: grid;
    background-color: yellowgreen;
    /* grid-template-columns: 100px 100px 100px; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3,1fr);
    /* grid-template-columns: repeat(2,2fr); */
    /* justify-content: space-around; */
    /* grid-row-gap:100px ; */
    /* grid-column-gap:100px ; */
    grid-gap: 20px;  
}

.childs{
    align-content: center;
    border: 2px solid red;
    text-align: center;
    background-color: orange;
}

#child1{
    /* grid-column-start: 1; */
    /* grid-column-end: -2; */
    grid-column: 1/4;
    /* grid-row-start: 1; */
    /* grid-row-end: -3; */
}